*{
    margin: 0px;
    padding: 0px;
}
main{
    height: 100vh;
    width: 100%;
    background-color: rgb(20, 1, 1);
}
main nav{
    padding: 60px 20px;
    background-color: rgba(255, 153, 0, 0.985);
}
main nav ul li{
    display: inline-block;
    margin-left: 10px;
}
ul li a{
    padding: 5px;
    background-image:linear-gradient(purple,red);
    color: rgb(247, 242, 242);
    
    text-decoration: none;
    border-radius: 25px;
}
main ul{
    margin-left: 1%;
}